In [1]:
from pandas import pandas as pd
file = '3.txt'

df = pd.read_csv(file, sep='\t', header=None)

In [2]:
#以;分割
df = df[0].str.split(';', expand=True)
df
#去除每一列中的空格
for i in range(0, len(df.columns)):
    df[i] = df[i].str.strip()
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,G000337004006010101302022122219551951,0101,2022-12-22 19:55:19,1,020307,83,G0003370040060,G00033700400601010130,2022-12-22 19:55:19,1,1,0,鲁PT2256,0,1,0,013701210423024622211420221222195519
1,G000337004006010101302022122220025553,0101,2022-12-22 20:02:55,1,020307,83,G0003370040060,G00033700400601010130,2022-12-22 20:02:55,1,1,0,冀DU913J,0,1,0,011301190723000342912520221222200255
2,G000337004006010101302022122220041957,0101,2022-12-22 20:04:19,1,020307,83,G0003370040060,G00033700400601010130,2022-12-22 20:04:19,1,1,0,鲁N3639W,0,1,0,013701180123020184804320221222200419
3,G000337004006010101302022122220221767,0101,2022-12-22 20:22:17,1,020307,83,G0003370040060,G00033700400601010130,2022-12-22 20:22:17,1,1,0,浙F59HX5,0,1,0,011301191123000274625620221222202217
4,G000337004006010101302022122220242571,0101,2022-12-22 20:24:25,1,020307,83,G0003370040060,G00033700400601010130,2022-12-22 20:24:25,1,1,0,鲁AA11W5,0,1,0,013701180123020146315920221222202425

In [35]:
# #将数据转换为dataframe
# df = pd.DataFrame(df)
# df
# #写入本地
# df.to_csv('3.csv', index=False, header=False, encoding='gbk')

In [12]:
#G000337004006010101302022122219551951
"G0003370040060" in "G000337004006010101302022122219551951    "

True

In [43]:
df_ids = pd.read_excel('id.xls', header=0)
df_ids.head()

,id,stationId,lys_id,NAME,stakeNum,fullName,pidTollroad,pidSection,pSectionName,pidOwner,...,lat,lng,regionName,countryName,regionlismCode,useStatus,orgTypeGroup,update_time,gd_lat,gd_lng
0,G0002370040010,40901,65.0,港沟,K400+000,山东港沟站,15_G000237,22_G00023703,济莱路,21_GO102,...,36.629742,117.176130,济南,历城区,370112,1,5,2022-06-09 11:22:30,36.629877,117.176286
1,G0002370040020,40902,66.0,蟠龙,K404+547,山东蟠龙站,15_G000237,22_G00023703,济莱路,21_GO102,...,36.628114,117.223679,济南,历城区,370112,1,5,2022-06-09 11:22:30,36.628116,117.223680
2,G0002370040030,40903,67.0,彩石,K415+000,山东彩石站,15_G000237,22_G00023703,济莱路,21_GO102,...,36.615665,117.329523,济南,历城区,370112,1,5,2022-06-09 11:22:30,36.613561,117.331852
3,G0002370040040,40904,NaN,曹范,NaN,山东曹范站,15_G000237,NaN,NaN,NaN,...,36.611207,117.399573,济南市,章丘区,370114,3,5,2022-06-06 16:28:14,36.631502,117.412580
4,G0002370040050,40905,69.0,埠村,K428+000,山东埠村站,15_G000237,22_G00023703,济莱路,21_GO102,...,36.601365,117.477160,济南,章丘区,370114,1,5,2022-06-13 14:00:31,36.596841,117.477718

In [47]:
#将id转换为list
ids = df_ids.id.tolist()
ids

['G0002370040010',
 'G0002370040020',
 'G0002370040030',
 'G0002370040040',
 'G0002370040050',
 'G0002370040060',
 'G0002370040070',
 'G0002370040080',
 'G0002370080010',
 'G0002370080020',
 'G0002370080030',
 'G0002370090010',
 'G0002370090020',
 'G0002370090030',
 'G0002370100010',
 'G0002370100020',
 'G0002370110010',
 'G0002370110020',
 'G0002370110040',
 'G0002370120010',
 'G0002370120020',
 'G0002370120050',
 'G0002370140010',
 'G0002370140020',
 'G0003370040010',
 'G0003370040020',
 'G0003370040030',
 'G0003370040040',
 'G0003370040050',
 'G0003370040060',
 'G0020370060010',
 'G0020370060030',
 'G0020370060040',
 'G0020370060050',
 'G0020370060060',
 'G0022370040010',
 'G0022370070050',
 'G0022370070060',
 'G0022370090010',
 'G0022370090020',
 'G0035370010010',
 'G0035370010020',
 'G0035370010030',
 'G0035370010040',
 'G0035370010080',
 'G0308370010010',
 'G0309370010010',
 'G2516370030010',
 'G2516370030020',
 'S0007370010010',
 'S0007370010020',
 'S0026370010010',
 'S0026370010020',
 'S0088370010010',
 'S0101370010010',
 'S0101370010020',
 'S0101370010030',
 'S0105370010010',
 'S8105370010010',
 'S8105370010020']

In [48]:
#如果id在df中，则保留对应的df

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Index: []