In [6]:
from pandas import pandas as pd

df = pd.read_excel('./副本2022送电量.xlsx')

In [7]:
df.head()

,2022,1月,2月,3月,4月,5月,6月,7月,8月,9月,10月,11月,12月
0,1日,433.944,430.164,461.160,147.420,329.364,332.892,412.020,333.144,165.060,0.0,166.572,350.784
1,2日,419.076,421.596,450.828,342.972,353.304,383.292,378.000,342.720,177.408,0.0,158.760,341.208
2,3日,425.124,435.708,456.120,312.984,342.468,407.736,451.080,345.744,177.156,0.0,173.880,342.972
3,4日,363.636,429.912,464.688,305.676,169.596,499.968,406.476,343.728,177.912,0.0,177.408,337.680
4,5日,378.000,426.132,473.256,207.900,164.052,434.448,451.080,338.184,189.756,0.0,182.448,331.128

In [8]:
#1到13列为月份和对应的送电量
df.columns[1:13]

Index(['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月',
       '12月'],
      dtype='object')

In [9]:
#依次读取每一列的数据
for i in df.columns[1:13]:
    print(df[i])

0     433.944
1     419.076
2     425.124
3     363.636
4     378.000
5     409.248
6     368.676
7     357.840
8     372.456
9     369.684
10    420.588
11    419.580
12    427.896
13    403.956
14    419.328
15    411.768
16    403.956
17    409.248
18    396.648
19    421.596
20    437.976
21    446.292
22    456.120
23    455.364
24    451.080
25    437.976
26    429.660
27    431.928
28    437.220
29    430.164
30    435.708
Name: 1月, dtype: float64
0     430.164
1     421.596
2     435.708
3     429.912
4     426.132
5     425.628
6     418.068
7     395.640
8     410.004
9     408.240
10    410.760
11    419.076
12    403.452
13    357.840
14    249.480
15    240.660
16    241.920
17    299.124
18    449.064
19    450.324
20    435.960
21    415.044
22    460.152
23    472.500
24    463.176
25    464.688
26    426.384
27    450.324
28        NaN
29        NaN
30        NaN
Name: 2月, dtype: float64
0     461.160
1     450.828
2     456.120
3     464.688
4     473.256
5     464.184
6     477.792
7     460.908
8     472.248
9     466.956
10    446.544
11    471.744
12    461.664
13    446.544
14    442.512
15    347.508
16    370.944
17    382.032
18    330.876
19    334.656
20    410.760
21    425.124
22    395.640
23    353.052
24    395.892
25    381.024
26    357.084
27    347.004
28    334.908
29    147.924
30    147.420
Name: 3月, dtype: float64
0     147.420
1     342.972
2     312.984
3     305.676
4     207.900
5     204.120
6     199.836
7     194.544
8     193.788
9     194.544
10    194.796
11    172.872
12    167.580
13    164.808
14    165.564
15    167.076
16    167.076
17    170.604
18    200.340
19    166.320
20    175.140
21    196.812
22    238.140
23    454.608
24    353.808
25    332.640
26    444.780
27    329.868
28    351.540
29    401.436
30        NaN
Name: 4月, dtype: float64
0     329.364
1     353.304
2     342.468
3     169.596
4     164.052
5     166.320
6     189.504
7     180.180
8     166.068
9     165.564
10    199.584
11    338.436
12    384.804
13    381.024
14    388.584
15    394.380
16    334.404
17    383.292
18    322.560
19    291.564
20    305.172
21    420.588
22    330.372
23    343.980
24    432.180
25    367.920
26    362.376
27    330.372
28    345.744
29    352.548
30    328.860
Name: 5月, dtype: float64
0     332.892
1     383.292
2     407.736
3     499.968
4     434.448
5     405.972
6     399.924
7     434.700
8     462.420
9     443.520
10    430.920
11    489.888
12    499.212
13    468.468
14    393.876
15    375.984
16    383.040
17    425.628
18    415.044
19    394.632
20    466.200
21    478.044
22    501.480
23    445.284
24    406.476
25    442.008
26    457.884
27    409.500
28    330.372
29    333.396
30        NaN
Name: 6月, dtype: float64
0     412.020
1     378.000
2     451.080
3     406.476
4     451.080
5     326.844
6     381.024
7     360.864
8     449.316
9     333.144
10    386.568
11    379.764
12    342.972
13    353.556
14    350.028
15    384.300
16    462.924
17    415.800
18    346.248
19    336.672
20    468.972
21    481.572
22    472.500
23    475.524
24    420.084
25    442.260
26    362.628
27    354.564
28    336.168
29    343.224
30    345.492
Name: 7月, dtype: float64
0     333.144
1     342.720
2     345.744
3     343.728
4     338.184
5     339.696
6     381.024
7     401.184
8     331.632
9     334.908
10    326.844
11    165.060
12    165.060
13    166.320
14    167.832
15    166.572
16    164.304
17    173.376
18    167.328
19    165.564
20    163.044
21    163.548
22    163.044
23    167.076
24    165.564
25    163.044
26    163.800
27    162.288
28    163.044
29    163.800
30    162.540
Name: 8月, dtype: float64
0     165.060
1     177.408
2     177.156
3     177.912
4     189.756
5     187.992
6     188.496
7     195.552
8     182.952
9     171.612
10    180.180
11    170.604
12    162.540
13    185.220
14    172.872
15    199.836
16    189.000
17    202.860
18    184.212
19    196.056
20    186.480
21    182.952
22    189.504
23    183.960
24    178.416
25    171.612
26    134.316
27      0.000
28      0.000
29      0.000
30      0.000
Name: 9月, dtype: float64
0       0.000
1       0.000
2       0.000
3       0.000
4       0.000
5       0.000
6       0.000
7       0.000
8       0.000
9       0.000
10     25.956
11    117.936
12    119.952
13    136.332
14    152.712
15    148.428
16    132.804
17    129.528
18    128.268
19    140.868
20    153.216
21    148.176
22    147.924
23    142.128
24    154.728
25    158.508
26    154.476
27    151.200
28    148.428
29    163.548
30    177.156
Name: 10月, dtype: float64
0     166.5720
1     158.7600
2     173.8800
3     177.4080
4     182.4480
5     181.9440
6     175.1400
7     167.3280
8     154.2240
9     153.2160
10    174.1320
11    183.7080
12    181.1880
13    181.6920
14    172.3680
15    179.6760
16    185.9760
17    190.5120
18    187.2360
19    178.4160
20    170.1000
21      0.0000
22      0.0000
23     43.3440
24    175.3920
25    182.7000
26    368.1720
27    380.7720
28    378.2520
29    301.6332
30         NaN
Name: 11月, dtype: float64
0     350.784
1     341.208
2     342.972
3     337.680
4     331.128
5     351.792
6     337.932
7     363.888
8     323.064
9     312.228
10    301.896
11    329.616
12    344.232
13    343.980
14    350.784
15    350.532
16    351.036
17    374.976
18    358.596
19    354.816
20    361.116
21    369.432
22    364.392
23    347.004
24    365.652
25    360.612
26    362.376
27    367.164
28    368.928
29    369.432
30    370.692
Name: 12月, dtype: float64

In [10]:
#{月份:{mm-dd:用电量}}的字典,根据元素的下标+1来确定日期
data = {}
for i in df.columns[1:13]:
    count = 1
    data[i] = {}
    for j in range(len(df[i])):
        #每遍历到新的月份就+1
        if j%31 == 0:
            count += 1
        data[i][str(count)+'-'+str(j%31+1)] = df[i][j]


data

{'1月': {'2-1': 433.944000000212,
  '2-2': 419.076,
  '2-3': 425.124,
  '2-4': 363.636,
  '2-5': 378.0,
  '2-6': 409.248,
  '2-7': 368.676,
  '2-8': 357.839999999926,
  '2-9': 372.456,
  '2-10': 369.684,
  '2-11': 420.588,
  '2-12': 419.58,
  '2-13': 427.896,
  '2-14': 403.955999999879,
  '2-15': 419.328000000077,
  '2-16': 411.768,
  '2-17': 403.956,
  '2-18': 409.248,
  '2-19': 396.648,
  '2-20': 421.596,
  '2-21': 437.976000000026,
  '2-22': 446.292,
  '2-23': 456.12,
  '2-24': 455.364,
  '2-25': 451.08,
  '2-26': 437.976,
  '2-27': 429.66,
  '2-28': 431.928,
  '2-29': 437.22,
  '2-30': 430.164000000085,
  '2-31': 435.708000000113},
 '2月': {'2-1': 430.164,
  '2-2': 421.596000000081,
  '2-3': 435.708000000022,
  '2-4': 429.912,
  '2-5': 426.131999999905,
  '2-6': 425.628,
  '2-7': 418.068,
  '2-8': 395.64,
  '2-9': 410.004,
  '2-10': 408.240000000018,
  '2-11': 410.760000000073,
  '2-12': 419.076000000025,
  '2-13': 403.451999999959,
  '2-14': 357.840000000018,
  '2-15': 249.480000000037,
  '2-16': 240.65999999989,
  '2-17': 241.920000000147,
  '2-18': 299.123999999974,
  '2-19': 449.063999999901,
  '2-20': 450.323999999975,
  '2-21': 435.960000000073,
  '2-22': 415.04400000003,
  '2-23': 460.151999999868,
  '2-24': 472.5,
  '2-25': 463.176000000117,
  '2-26': 464.687999999876,
  '2-27': 426.384000000047,
  '2-28': 450.324000000066,
  '2-29': nan,
  '2-30': nan,
  '2-31': nan},
 '3月': {'2-1': 461.15999999989,
  '2-2': 450.828000000077,
  '2-3': 456.120000000055,
  '2-4': 464.687999999967,
  '2-5': 473.255999999879,
  '2-6': 464.184000000047,
  '2-7': 477.79200000007,
  '2-8': 460.908000000022,
  '2-9': 472.248000000041,
  '2-10': 466.955999999971,
  '2-11': 446.544000000029,
  '2-12': 471.74400000003,
  '2-13': 461.663999999901,
  '2-14': 446.544000000029,
  '2-15': 442.511999999942,
  '2-16': 347.508000000113,
  '2-17': 370.943999999937,
  '2-18': 382.031999999905,
  '2-19': 330.876000000025,
  '2-20': 334.656000000062,
  '2-21': 410.760000000073,
  '2-22': 425.123999999974,
  '2-23': 395.639999999926,
  '2-24': 353.052000000051,
  '2-25': 395.891999999978,
  '2-26': 381.023999999883,
  '2-27': 357.084000000139,
  '2-28': 347.004000000011,
  '2-29': 334.907999999839,
  '2-30': 147.924000000066,
  '2-31': 147.419999999963},
 '4月': {'2-1': 147.419999999963,
  '2-2': 342.972000000015,
  '2-3': 312.983999999956,
  '2-4': 305.676000000026,
  '2-5': 207.9,
  '2-6': 204.119999999963,
  '2-7': 199.836000000007,
  '2-8': 194.544000000029,
  '2-9': 193.787999999875,
  '2-10': 194.544000000029,
  '2-11': 194.796000000081,
  '2-12': 172.872000000015,
  '2-13': 167.579999999853,
  '2-14': 164.808000000022,
  '2-15': 165.563999999993,
  '2-16': 167.075999999934,
  '2-17': 167.075999999934,
  '2-18': 170.604000000103,
  '2-19': 200.339999999927,
  '2-20': 166.319999999963,
  '2-21': 175.14000000011,
  '2-22': 196.812,
  '2-23': 238.139999999927,
  '2-24': 454.608,
  '2-25': 353.808000000113,
  '2-26': 332.639999999926,
  '2-27': 444.780000000037,
  '2-28': 329.867999999912,
  '2-29': 351.540000000018,
  '2-30': 401.436000000099,
  '2-31': nan},
 '5月': {'2-1': 329.363999999901,
  '2-2': 353.304000000103,
  '2-3': 342.468000000003,
  '2-4': 169.595999999989,
  '2-5': 164.05199999996,
  '2-6': 166.320000000055,
  '2-7': 189.503999999919,
  '2-8': 180.180000000037,
  '2-9': 166.068000000004,
  '2-10': 165.563999999993,
  '2-11': 199.583999999956,
  '2-12': 338.436000000008,
  '2-13': 384.804000000103,
  '2-14': 381.023999999974,
  '2-15': 388.584000000047,
  '2-16': 394.379999999945,
  '2-17': 334.404000000011,
  '2-18': 383.291999999978,
  '2-19': 322.55999999989,
  '2-20': 291.564000000176,
  '2-21': 305.171999999923,
  '2-22': 420.587999999967,
  '2-23': 330.371999999923,
  '2-24': 343.980000000036,
  '2-25': 432.180000000129,
  '2-26': 367.919999999963,
  '2-27': 362.376000000026,
  '2-28': 330.371999999831,
  '2-29': 345.744000000212,
  '2-30': 352.547999999949,
  '2-31': 328.859999999982},
 '6月': {'2-1': 332.891999999978,
  '2-2': 383.291999999978,
  '2-3': 407.736000000008,
  '2-4': 499.968000000004,
  '2-5': 434.448000000041,
  '2-6': 405.972000000015,
  '2-7': 399.923999999975,
  '2-8': 434.7,
  '2-9': 462.419999999963,
  '2-10': 443.520000000055,
  '2-11': 430.920000000055,
  '2-12': 489.887999999875,
  '2-13': 499.212000000033,
  '2-14': 468.468000000095,
  '2-15': 393.875999999934,
  '2-16': 375.984000000048,
  '2-17': 383.039999999835,
  '2-18': 425.628000000168,
  '2-19': 415.043999999937,
  '2-20': 394.632000000088,
  '2-21': 466.199999999909,
  '2-22': 478.04400000003,
  '2-23': 501.479999999945,
  '2-24': 445.283999999956,
  '2-25': 406.476000000118,
  '2-26': 442.00799999993,
  '2-27': 457.884000000047,
  '2-28': 409.499999999908,
  '2-29': 330.372000000015,
  '2-30': 333.395999999989,
  '2-31': nan},
 '7月': {'2-1': 412.020000000147,
  '2-2': 378.0,
  '2-3': 451.079999999853,
  '2-4': 406.476000000026,
  '2-5': 451.080000000129,
  '2-6': 326.843999999938,
  '2-7': 381.023999999975,
  '2-8': 360.863999999993,
  '2-9': 449.315999999952,
  '2-10': 333.14400000003,
  '2-11': 386.568000000004,
  '2-12': 379.763999999901,
  '2-13': 342.972000000106,
  '2-14': 353.55599999997,
  '2-15': 350.027999999985,
  '2-16': 384.300000000092,
  '2-17': 462.924000000066,
  '2-18': 415.8,
  '2-19': 346.247999999857,
  '2-20': 336.672000000015,
  '2-21': 468.971999999923,
  '2-22': 481.572000000014,
  '2-23': 472.500000000091,
  '2-24': 475.523999999974,
  '2-25': 420.083999999956,
  '2-26': 442.259999999982,
  '2-27': 362.627999999985,
  '2-28': 354.564000000176,
  '2-29': 336.168000000004,
  '2-30': 343.223999999883,
  '2-31': 345.491999999978},
 '8月': {'2-1': 333.14400000003,
  '2-2': 342.720000000055,
  '2-3': 345.74400000003,
  '2-4': 343.727999999986,
  '2-5': 338.183999999956,
  '2-6': 339.695999999989,
  '2-7': 381.024000000066,
  '2-8': 401.183999999956,
  '2-9': 331.631999999997,
  '2-10': 334.907999999931,
  '2-11': 326.844000000121,
  '2-12': 165.05999999989,
  '2-13': 165.059999999982,
  '2-14': 166.320000000055,
  '2-15': 167.831999999996,
  '2-16': 166.571999999923,
  '2-17': 164.304000000011,
  '2-18': 173.376000000026,
  '2-19': 167.327999999985,
  '2-20': 165.563999999993,
  '2-21': 163.044000000029,
  '2-22': 163.54800000004,
  '2-23': 163.043999999938,
  '2-24': 167.076000000026,
  '2-25': 165.563999999993,
  '2-26': 163.044000000029,
  '2-27': 163.8,
  '2-28': 162.287999999967,
  '2-29': 163.044000000029,
  '2-30': 163.8,
  '2-31': 162.540000000018},
 '9月': {'2-1': 165.059999999982,
  '2-2': 177.40799999993,
  '2-3': 177.156000000062,
  '2-4': 177.911999999941,
  '2-5': 189.756000000062,
  '2-6': 187.991999999978,
  '2-7': 188.495999999989,
  '2-8': 195.552000000051,
  '2-9': 182.95199999996,
  '2-10': 171.612000000033,
  '2-11': 180.179999999945,
  '2-12': 170.604000000011,
  '2-13': 162.540000000018,
  '2-14': 185.219999999963,
  '2-15': 172.872000000015,
  '2-16': 199.836000000007,
  '2-17': 189.0,
  '2-18': 202.859999999982,
  '2-19': 184.212000000033,
  '2-20': 196.055999999971,
  '2-21': 186.480000000037,
  '2-22': 182.952000000051,
  '2-23': 189.503999999919,
  '2-24': 183.960000000073,
  '2-25': 178.415999999861,
  '2-26': 171.612000000125,
  '2-27': 134.316000000044,
  '2-28': 0.0,
  '2-29': 0.0,
  '2-30': 0.0,
  '2-31': 0.0},
 '10月': {'2-1': 0.0,
  '2-2': 0.0,
  '2-3': 0.0,
  '2-4': 0.0,
  '2-5': 0.0,
  '2-6': 0.0,
  '2-7': 0.0,
  '2-8': 0.0,
  '2-9': 0.0,
  '2-10': 0.0,
  '2-11': 25.9559999999707,
  '2-12': 117.936000000007,
  '2-13': 119.951999999868,
  '2-14': 136.332000000088,
  '2-15': 152.711999999941,
  '2-16': 148.427999999985,
  '2-17': 132.804000000103,
  '2-18': 129.527999999985,
  '2-19': 128.267999999912,
  '2-20': 140.868000000095,
  '2-21': 153.216000000044,
  '2-22': 148.175999999934,
  '2-23': 147.924000000066,
  '2-24': 142.127999999985,
  '2-25': 154.727999999985,
  '2-26': 158.508000000022,
  '2-27': 154.475999999934,
  '2-28': 151.2,
  '2-29': 148.427999999985,
  '2-30': 163.547999999949,
  '2-31': 177.155999999971},
 '11月': {'2-1': 166.572000000015,
  '2-2': 158.760000000073,
  '2-3': 173.880000000037,
  '2-4': 177.408000000022,
  '2-5': 182.447999999949,
  '2-6': 181.944000000029,
  '2-7': 175.139999999927,
  '2-8': 167.327999999985,
  '2-9': 154.224000000066,
  '2-10': 153.216000000044,
  '2-11': 174.131999999905,
  '2-12': 183.708000000022,
  '2-13': 181.188000000059,
  '2-14': 181.691999999978,
  '2-15': 172.367999999912,
  '2-16': 179.676000000117,
  '2-17': 185.975999999934,
  '2-18': 190.511999999941,
  '2-19': 187.236000000007,
  '2-20': 178.416000000044,
  '2-21': 170.1,
  '2-22': 0.0,
  '2-23': 0.0,
  '2-24': 43.3440000000293,
  '2-25': 175.391999999978,
  '2-26': 182.7,
  '2-27': 368.172000000014,
  '2-28': 380.772000000015,
  '2-29': 378.252000000051,
  '2-30': 301.633200000018,
  '2-31': nan},
 '12月': {'2-1': 350.78400000014,
  '2-2': 341.208000000022,
  '2-3': 342.971999999831,
  '2-4': 337.680000000036,
  '2-5': 331.127999999985,
  '2-6': 351.792000000162,
  '2-7': 337.931999999905,
  '2-8': 363.888000000059,
  '2-9': 323.063999999993,
  '2-10': 312.227999999986,
  '2-11': 301.895999999897,
  '2-12': 329.616000000044,
  '2-13': 344.232000000088,
  '2-14': 343.979999999854,
  '2-15': 350.784000000139,
  '2-16': 350.531999999905,
  '2-17': 351.036000000008,
  '2-18': 374.976000000117,
  '2-19': 358.595999999897,
  '2-20': 354.816000000044,
  '2-21': 361.115999999861,
  '2-22': 369.432000000088,
  '2-23': 364.391999999978,
  '2-24': 347.004000000103,
  '2-25': 365.652000000051,
  '2-26': 360.611999999758,
  '2-27': 362.376000000118,
  '2-28': 367.163999999993,
  '2-29': 368.927999999985,
  '2-30': 369.431999999905,
  '2-31': 370.692000000161}}

fimport pandas as pd

# 读取Excel文件
df = pd.read_excel('副本2022送电量.xlsx')

# 使用melt()函数将宽表格转换为长表格
df_melted = pd.melt(df, var_name="Month", value_name="Electricity Usage")

# 拆分"Month"列为"Month"和"Day"两列
df_melted[["Month", "Day"]] = df_melted["Month"].str.split("月", expand=True)
df_melted["Month"] = pd.to_numeric(df_melted["Month"])

# 创建日期列
df_melted["Date"] = df_melted.apply(lambda row: "{:02d}-{:02d}".format(row["Month"], row["Day"]), axis=1)

# 将"Date"列设置为索引
df_melted.set_index("Date", inplace=True)

# 删除没用的列
df_melted = df_melted[["Electricity Usage"]]

# 输出结果
print(df_melted)